@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

/**********************************************/
/*                  HEADER                    */
/**********************************************/
.project-background {
    background-image: url('../../assets/powerline1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
    display: flex;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

.title-project {
    font-size: 8rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0.8em;
    text-align: center;
    color: white;

}

.content-container {
    text-align: center;
    padding: 0em 7em 0em 7em;
    margin: 3em 0em -10em 0em;
}

.subtitle-project {
    font-size: 3rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    margin-top: -3em;
    color: white;

}

.top-subtitle-project {
    font-size: 2rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    margin-top: -3em;
    color: white;
}

/**********************************************/
/*                Sobre os Projetos           */
/**********************************************/
h1{
    align-content: center;
    text-align: center;
    font-size: 3rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    margin-bottom: 1em;
    margin-top: 2em;
}

.our-project {
    background-color: #fff;
    padding: 4em 2em;
    color: black;
}

.our-project2 {
    background-color: #231f20;
    padding: 4em 2em;
    color: white;
}

.title-OurProjects {
    font-size: 4rem;
    margin-bottom: 1em;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

.text-OurProjects {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1em;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 5em 0em 5em 5em;
}

.ProjectImg {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    scale: 0.8;
}



/* Responsividade */
@media (max-width: 768px) {
    .text-container {
        text-align: center;
    }

    .aboutUsImg {
        margin-top: 2em;
    }
}

/**********************************************/
/*               FINAL SECTION                */
/**********************************************/
.final-project {
    background-color: #231f20;
    color: white;
    padding: 4em 2em;
}

.final-home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
}

.text-container {
    flex: 1;
    min-width: 300px;
    margin-left: 7em;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.aboutUsImg {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.title-final {
    font-size: 2.5rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    margin-bottom: 1em;
}

.history-button {
    border-radius: 30px;
    padding: 1em 4em;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    border: 2px solid white;
    background-color: transparent;
}

.history-button:hover{
    color: black;
    background-color: white;
}

.socialContact {
    margin-top: 2em;
}

.email-tel {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    margin-top: 3em;
}